requests
python-dotenv
google-genai
gspread
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
html2text
apify-client
linkedin-scraper
selenium
webdriver-manager
httpcore
PyPDF2
pdfminer.six
PyJWT  # Recommended for JWT decoding (optional)
